.add-task-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 3px solid grey;
  border-radius: 10px;
  height: 385px;
  width: 690px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#add-task-prompt-header {
  background-color: blue;
  flex: 0.5;
}

#add-task-prompt-form {
  background-color: pink;
  flex: 1;
}

#add-task-prompt-submit {
  background-color: yellow;
  flex: 0.5;
}
