:root {
  --main-color-purple: #8a2be2;
  --main-color-purple-off: rgb(169, 77, 255);
  --text-color-main-black: color: #202020;
  --text-color-hover-black: #0000009d;
  --text-color-light-grey: rgba(0, 0, 0, 0.44);
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

#main-page-wrapper {
  display: flex;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color-main-black);
}

#navbar {
  padding: 0 10px;
  background-color: var(--main-color-purple);
  height: 9vh;
  display: flex;
  align-items: center;
}

.navbar-left {
  display: flex;
  gap: 10px;
}

.menu-icon-wrapper {
  display: flex;
  align-items: center;
}

.navbar-left,
.navbar-center,
.navbar-right {
  flex: 1;
}

.navbar-icon {
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.navbar-icon:hover {
  background-color: var(--main-color-purple-off);
}
.navbar-center {
  display: flex;
  justify-content: center;
  font-family: 'Fjalla One', sans-serif;
  color: #fff;
}

.navbar-center h1 {
  margin: 0.67em 0;
}

.logo {
  height: 68px;
}

/* Content */

.hidden {
  display: none !important;
}

#main-content-wrapper {
  height: 86vh;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.5s;
  width: 100%;
  padding: 20px;
  position: relative;
}

#heading-wrapper {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 9px;
}

#main-heading {
  font-size: 1.7em;
  font-weight: 600;
}

#date-header {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--text-color-light-grey);
}

#content-wrapper {
  flex: 1;
}

/* Add task button */
#add-task-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 17px;
  width: 116px;
  height: 35px;
  background-color: var(--main-color-purple);
  border: 1px solid var(--text-color-light-grey);
  border-radius: 17px;
  box-shadow: none;
  margin: 1em;
  padding: 0 9px;
}

#add-task-button > img {
  border-radius: 50%;
}

#add-task-button > div {
  font-weight: 600;
}

#add-task-button:hover {
  cursor: pointer;
  background-color: var(--main-color-purple-off);
  transition: 0.3s;
}

/* No task - Sloth image */

#no-task-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10%;
  flex-direction: column;
}

#sloth-image {
  height: 265px;
}

#no-task-text {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
